#.gitignore
Sources/build_no.h
Trial/.objects
Trial/.vs
Trial/x64
Trial/x86
Trial/Debug
Trial/Release
Trial/slcan_test
Trial/*.sln
Trial/*.vcxproj.user
Library/.objects
Library/*.dylib
Library/*.so.*
Library/*.a
Library/.vs
Library/x64
Library/x86
Library/Debug_*
Library/Release_*
Library/uvslcan
Library/*.sln
Library/*.aps
Library/*.vcxproj.user
slcan-cppcheck-build-dir
checker.txt
artifacts
Binaries
Includes
Testing
.vscode
*.exe
*.log
*.pdf
