#.gitignore
Sources/build_no.h
Trial/.objects
Trial/.vs
Trial/x64
Trial/x86
Trial/Debug
Trial/Release
Trial/slcan_test
Trial/slcan_test.exe
Trial/*.sln
Trial/*.vcxproj.user
Library/.objects
Library/.vs
Library/x64
Library/x86
Library/Debug_dll
Library/Debug_lib
Library/Release_dll
Library/Release_lib
Library/uvslcan
Library/*.so.*
Library/*.dylib
Library/*.sln
Library/*.aps
Library/*.vcxproj.user
slcan-cppcheck-build-dir
checker.txt
Binaries
Includes
Testing
.vscode
*.log
